@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  height: 50px;
}
.left-section {
  display: flex;
  align-items: center;
}
.left-section img {
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
}
.mid-section form {
  display: flex;
  margin-top: 0;
  align-items: center;
}
.mid-section input {
  display: flex;
  border-radius: 2px 0 0 2px;

  padding-left: 10px;
  font-size: 1.6rm;
  align-items: center;
  width: 100%;
  border-right: none;
  border: 1px solide rgb(164, 160, 160);
  margin: 0;
}
.mid-section button {
  align-items: center;
  display: flex;
  width: 30px;
  height: 19px;
  background-color: beige;
  border-radius: 0 2px 2px 0;
  justify-content: center;
}
.mid-section button:hover {
  background-color: aquamarine;
  border-color: brown;
}
.right-section a {
  padding-right: 18px;
  text-decoration: none;
  color: black;
}
.content-area {
  background-color: rgba(3, 3, 3, 0);
  height: calc(100vh-50px);
  width: ;
}
aside {
  height: 100%;
  width: 80px;

  display: flex;
  overflow-y: auto;
  margin: 10px 0;
  background-color: aliceblue;
}
nav {
  padding-right: 10px;
  display: flex;
  margin: 15px 0;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  text-decoration: none;
  color: #030303;
}
.nav-link samp {
  margin-left: 24px;
  color: #030303;
}
.active {
  background-color: bisque;
}
